html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 

body {
	margin: 0;
	padding: 0;
	font-size: 26px;
	color: #606161;
	font-family: tahoma;
  background-color: white;
}

#logo {
  text-align: left;
}
#slogan {
  padding-top: 20px;
  font-style: italic;
  font-size: 32px;
  color: #FF0066;
}

body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0px 15px;
  padding: 0;
  overflow: hidden;
  
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

ul.topnav li a:hover {background-color: #606161;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.menu {
  
  background-color: #333;
}

.hero {
  width:100%;
}

.blogimage {
	width:100%;
}

.breadcrumbs ul {
  list-style-type: none;
  width: 300px;
  margin: 20px 0px;
  font-size: 18px;
  padding-left: 30px;
}

.breadcrumbs li a {
  color: #606161;
}

.breadcrumbs li {
   display: inline;
}

#blogtitle {
  text-align: center;
  margin: 0;
}

.listnav {
  text-align: center;
  border-top: solid 4px #606161;
  border-bottom: solid 4px #606161;
  margin-bottom: 15px;
}

.listnav li {
	display:inline;
}

.listnav li a {
	text-decoration: none;
  padding: 14px 16px;
  color: #606161;
  font-size: 20px;
}

.listnav li a:hover {color: #FF0066;}

.active {background-color: #FF0066;}

.blog-item {
	text-align: center;
  background-color: #f6f6f6;
  margin-bottom: 15px;
  margin-top: 15px;
  min-height: 424px;
  
}

.blog-item a {
  text-decoration: none;
  color:#606161;
}

.quotewrapper {
  display: table;
}

.recentposts {
  font-size: 30px;
}

.blog-article {
  background-color: #f6f6f6;
  margin-bottom: 15px;
  margin-top: 15px;
  min-height: 424px;
}

.blog-article p {
  font-size:20px;
  padding-right: 15px;
  padding-left: 15px;
}

.blogtitle {
  margin-top: 10px;
  font-size: 40px;
  padding: 15px;
  margin-bottom: 0px;

}

.article-date {
  padding: 15px ;
  margin-bottom: 15px;
}

.blog-side {
  text-align: center;
  background-color: #f6f6f6;
  margin-bottom: 15px;
  margin-top: 15px;
  min-height: 300px;

}

.articletitle {
  font-size: 24px;
}

small {
  font-size: 16px;
}

.quote {
  font-style:italic;
  color:#FF0066;
  margin: 0px;
  display:table-cell;
  vertical-align: middle;
}



.pagination ul {
  list-style-type: none;
  //width: 300px;
  //margin: 20px 0px;
  font-size: 18px;
}

.pagination li a {
  color: #606161;
}

.pagination li {
   display: inline;
}
#previous {
  text-align: left;
}

#page{
  text-align: center;
}

#next {
  text-align: right;
}


footer {
 
  
  width: 100%;
  
  background-color: #f5f5f5;
}


/*FOOTER*/
.social p {
  color: #fff;
  font-weight: 300;
}
.social  li {
  list-style: none;
}
.social a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  padding-right: 23px;
}
#phoneIcon, #number{
    height: 33px;
    display: inline-block;
    vertical-align: bottom;
}
.social a:hover{
  color: #575f74;
}
.contact p {
  color: #fff;
  font-weight: 300;
  font-size: 1em;
}
.contact  li {
  list-style: none;
}
.contact a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  padding-right: 23px;
}
#number {
  font-size: 0.5em !important;
  line-height: 2.3em;
}
.footer-distributed{
  background-color: #333;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}
.clubDetails p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin-top: 70px;
  font-size: 1em;
}
